<script src="https://accounts.google.com/gsi/client" async></script>
<div class="alert alert-danger" *ngIf="loginError">
  <p>{{ loginError }}</p>
</div>
<form class="px-2" [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
  <div class="form-group">
    <label for="LoginFormControlInputEmail"> {{'form.EmailAddress' | translate}}</label>
    <input class="form-control" id="LoginFormControlInputEmail" placeholder="{{'form.EmailAddressPlaceholder' | translate}}"
      formControlName="email" />
  </div>
  <!-- Checking tramite stringa ad oggetti da get da evitare  -->
  <span class="help-block" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
    {{'form.InvalidEmail' | translate}}</span>
  <div class="form-group">
    <label for="LoginFormControlInputPassword">
      {{'form.Password' | translate}} </label>
    <input class="form-control" id="LoginFormControlInputPassword" formControlName="password" />
  </div>
  <span class="help-block" *ngIf="
      loginForm.controls.password.invalid && loginForm.controls.password.touched
    ">
    {{'form.InvalidPassword' | translate}}</span>
  <br />
  <button class="btn btn-success" type="submit" [disabled]="loginForm.invalid">
    {{'form.Buttons.SignIn' | translate}}
  </button>
  <br /><br>
  <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
  <br /><br />
</form>

<!-- TEMPLATE-DRIVEN FORM CONSTRUCTION 
    <form class="px-2" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="FormControlInputEmail"> Indirizzo email</label>
      <input 
        type="email" 
        class="form-control" 
        id="FormControlInputEmail" 
        placeholder="nome@example.com"
        ngModel
        name="email"
        email
        required
        #email="ngModel">
    </div>
    <span class="help-block" *ngIf="!email.valid && email.touched">
      Per favore inserisci una email valida!</span>
    <div class="form-group">
      <label for="FormControlInputPassword">
        Password <a style="color: blue;">Dimenticato la password?</a></label>
      <input 
        type="password" 
        class="form-control" 
        id="FormControlInputPassword" 
        ngModel
        name="password"
        required>
    </div>
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        ngModel
        name="tesseratoRadioBtn"
        #tesserato="ngModel"> 
        <label class="form-check-label" for="tesseratoRadioBtn">
          Tesserato
        </label>
    </div>
    <div class="form-check">
      <input 
        class="form-check-input"
        type="radio"
        name="nonTesseratoRadioBtn">
        <label class="form-check-label" for="nonTesseratoRadioBtn">
          Non ancora tesserato
        </label> 
    </div>
    <div class="form-group" *ngIf="tesserato.valid && tesserato.touched">
      <label for="FormControlInputCardNumber">Numero tessera</label>
      <input 
        type="" 
        class="form-control" 
        placeholder="0"
        ngModel
        name="cardNumber"
        pattern="[0-9]*">
    </div>
    <button 
      class="btn btn-success"
      type="submit"
      [disabled]="!form.valid">
      Sign in
    </button>
    <br><br>
    <p>Nuovo fauno? <a style="color: blue;">Crea un account</a></p>
  </form> -->