<form class="px-2" [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()">
  <div class="form-group">
    <label for="RegistrationFormControlInputNome"> Nome</label>
    <input type="text" class="form-control" id="RegistrationFormControlInputNome" placeholder="Nome"
      formControlName="nome" style="text-transform: capitalize" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.nome.invalid &&
      registrationForm.controls.nome.touched
    ">
    Inserire un nome valido!</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputCognome"> Cognome</label>
    <input type="text" class="form-control" id="RegistrationFormControlInputCognome" placeholder="Cognome"
      formControlName="cognome" style="text-transform: capitalize" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.cognome.invalid &&
      registrationForm.controls.cognome.touched
    ">
    Inserire un cognome valido!</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputEmail"> Indirizzo email</label>
    <input type="email" class="form-control" id="RegistrationFormControlInputEmail" placeholder="nome@example.com"
      formControlName="email" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.email.invalid &&
      registrationForm.controls.email.touched
    ">
    Per favore inserisci una email valida!</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputPassword"> Password</label>
    <input type="password" class="form-control" id="RegistrationFormControlInputPassword" formControlName="password" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.password.invalid &&
      registrationForm.controls.password.touched
    ">
    Per favore inserisci una password!</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputNrTessera"> Numero tessera </label>
    <input type="number" class="form-control" id="RegistrationFormControlInputNrTessera" placeholder="-"
      formControlName="numeroTessera" />
  </div>
  <div class="form-group">
    <label for="RegistrationFormControlInputRuolo"> Ruolo </label>
    <select class="form-select" id="RegistrationFormControlInputRuolo" formControlName="ruolo">
      <option value="null" disabled selected hidden>
        Scegli ruolo all'interno dell'associazione
      </option>
      <option value="AMMINISTRATORE">AMMINISTRATORE</option>
      <option value="PRESIDENTE">PRESIDENTE</option>
      <option value="MEMBRO">MEMBRO</option>
      <option value="TESSERATO">TESSERATO</option>
    </select>
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.ruolo.invalid &&
      registrationForm.controls.ruolo.touched
    ">
    Perfavore definisci un ruolo per questo fauno!</span>
  <br />
  <button class="btn btn-success" type="submit" [disabled]="registrationForm.invalid">
    Inserisci utente
  </button>
  <button class="btn btn-danger" type="submit" (click)="goBack()">
    Torna indietro
  </button>
  <br /><br />
</form>