<form class="px-2" [formGroup]="registrationForm" (ngSubmit)="onRegistrationFormSubmit()">
  <div class="form-group">
    <label for="RegistrationFormControlInputName"> {{ 'form.Name' | translate }}</label>
    <input type="text" class="form-control" id="RegistrationFormControlInputName" placeholder="{{'form.Name' | translate}}"
      formControlName="name" style="text-transform: capitalize" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.name.invalid &&
      registrationForm.controls.name.touched
    ">
    {{'form.InvalidName' | translate }}</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputSurname"> {{ 'form.Surname' | translate }}</label>
    <input type="text" class="form-control" id="RegistrationFormControlInputSurname" placeholder="{{'form.Surname' | translate}}"
      formControlName="surname" style="text-transform: capitalize" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.surname.invalid &&
      registrationForm.controls.surname.touched
    ">
    {{'form.InvalidSurname' | translate}}</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputEmail"> {{'form.EmailAddress' | translate}}</label>
    <input type="email" class="form-control" id="RegistrationFormControlInputEmail" placeholder="{{'form.EmailAddressPlaceholder' | translate}}"
      formControlName="email" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.email.invalid &&
      registrationForm.controls.email.touched
    ">
    {{'form.InvalidEmail' | translate}}</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputPassword"> Password</label>
    <input type="password" class="form-control" id="RegistrationFormControlInputPassword" formControlName="password" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.password.invalid &&
      registrationForm.controls.password.touched
    ">
    {{'form.InvalidPassword' | translate}}</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputCardNumber"> {{'form.CardNumber' | translate}} </label>
    <input type="number" class="form-control" id="RegistrationFormControlInputCardNumber" placeholder="-"
      formControlName="cardNumber" />
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.cardNumber.invalid &&
      registrationForm.controls.cardNumber.touched
    ">
    {{'form.InvalidCardNumber' | translate}}</span>
  <div class="form-group">
    <label for="RegistrationFormControlInputRole"> {{'form.Role' | translate}} </label>
    <select class="form-select" id="RegistrationFormControlInputRole" formControlName="role">
      <option value="null" disabled selected hidden>
        Scegli ruolo all'interno dell'associazione
      </option>
      <option value="ADMIN">{{'form.Roles.ADMIN' | translate}}</option>
      <option value="PRESIDENT">{{'form.Roles.PRESIDENT' | translate}}</option>
      <option value="MEMBER">{{'form.Roles.MEMBER' | translate}}</option>
      <option value="ASSOCIATE">{{'form.Roles.ASSOCIATE' | translate}}</option>
    </select>
  </div>
  <span class="help-block" *ngIf="
      registrationForm.controls.role.invalid &&
      registrationForm.controls.role.touched
    ">
    {{"form.InvalidRole" | translate}}</span>
  <br />
  <button class="btn btn-success" type="submit" [disabled]="registrationForm.invalid">
    {{'form.Buttons.AddUser' | translate}}
  </button>
  <button class="btn btn-danger" type="submit" (click)="goBack()">
    {{'form.Buttons.GoBack' | translate}}
  </button>
  <br /><br />
</form>